THis will be very useful

Assignment link - http://nbviewer.jupyter.org/github/cs109/2014/blob/master/homework/HW1.ipynb
world map example link - http://ramiro.org/notebook/geopandas-choropleth/

In [15]:
#imoort relevant libraries
import csv
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import geopandas as gpd

from helpers import slug

ModuleNotFoundError: No module named 'geopandas'

In [3]:
countries = pd.read_csv("https://raw.githubusercontent.com/cs109/2014_data/master/countries.csv")
print(countries.describe())
countries.head()

            Country  Region
count           194     194
unique          194       6
top     Philippines  AFRICA
freq              1      54

    Country  Region
0   Algeria  AFRICA
1    Angola  AFRICA
2     Benin  AFRICA
3  Botswana  AFRICA
4   Burkina  AFRICA

In [6]:
gdp_data = "C:\\Users\\Dell\\Documents\\data_tutorials\\countries_by_continent\\GDP_by country_1990-2017.csv"
GDP_tables = pd.read_csv(gdp_data, skiprows = 4)
#print(GDP_tables.describe())
GDP_tables.head()

       1960  1961  1962  1963  1964  1965  1966  1967  1968  1969  \
count   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
mean    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
std     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
min     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
25%     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
50%     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
75%     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
max     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

          ...                2009           2010           2011  \
count     ...          236.000000     236.000000     241.000000
mean      ...        16403.935115   16794.714759   17290.469644
std       ...        18316.186062   18822.414191   19385.249773
min       ...          637.275149     660.210956     682.432155
25%       ...         3662.216848    3884.723540    3805.237917
50%       ...        10177.864313   10077.415005   10449.093255
75%       ...        20958.275163   21446.701798   22841.210338
max       ...       117064.859658  125140.838348  129349.916352

                2012           2013           2014           2015  \
count     236.000000     236.000000     235.000000     234.000000
mean    17317.884932   17513.028355   17564.800190   17693.823027
std     19326.730020   19473.611486   19331.726957   18869.957584
min       706.797964     593.055955     597.135169     621.569843
25%      4126.883699    4177.519117    4209.829941    4297.646717
50%     10996.211778   11346.477290   11645.162169   11969.607641
75%     22730.831106   23234.885789   23834.484026   24357.804576
max    125302.080001  135318.754421  130755.160706  119749.428536

                2016           2017  Unnamed: 62
count     234.000000     231.000000          0.0
mean    17887.193447   18286.082090          NaN
std     18889.988626   19167.677711          NaN
min       642.873494     661.239968          NaN
25%      4391.457816    4504.151006          NaN
50%     12259.418070   12592.052060          NaN
75%     24372.574984   24914.899589          NaN
max    118207.134623  116935.600360          NaN

[8 rows x 59 columns]

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,Unnamed: 62
0,Aruba,ABW,"GDP per capita, PPP (constant 2011 internation...",NY.GDP.PCAP.PP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,35973.780510,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,"GDP per capita, PPP (constant 2011 internation...",NY.GDP.PCAP.PP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,1531.173993,1614.255001,1660.739856,1839.273579,1848.700026,1838.960244,1809.016488,1802.695565,1803.987487,NaN
2,Angola,AGO,"GDP per capita, PPP (constant 2011 internation...",NY.GDP.PCAP.PP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,5908.042248,5897.682841,5911.254092,5999.902106,6188.003756,6257.152874,6227.664689,5972.451513,5819.494971,NaN
3,Albania,ALB,"GDP per capita, PPP (constant 2011 internation...",NY.GDP.PCAP.PP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,9524.649303,9927.181841,10207.764699,10369.823382,10492.806283,10701.120786,10970.452245,11356.341329,11803.430594,NaN
4,Andorra,AND,"GDP per capita, PPP (constant 2011 internation...",NY.GDP.PCAP.PP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
#GDP_table = GDP_table[["Country Name", ]]
abb = GDP_tables.transpose()

In [ ]:
patth = "C:\\Users\\Dell\\Documents\\data_tutorials\\countries_by_continent\\map_c.shp"

def GDP_display_per_year(year):